.header {
  position: absolute;
  width: 100%;
  z-index: 50;
}

.header__row {
  @i flexbox();
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  color: #4d4959;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
}
